{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto bg-white p-6 rounded shadow mt-5">
    <h1 class="text-2xl font-bold mb-4">My Profile</h1>
    <div class="flex items-center mb-6">
        {% if profile.image %}
            <img src="{{ profile.avatar.url if profile.avatar else profile.google_avatar_url }}" alt="Profile Picture" class="w-24 h-24 rounded-full mr-4">
        {% else %}
            <img src="https://via.placeholder.com/150" alt="Profile Picture" class="w-24 h-24 rounded-full mr-4">
        {% endif %}
        <div>
            <h2 class="text-xl font-semibold">{{ request.user.get_full_name|default:request.user.username }}</h2>
            <p class="text-gray-600">{{ request.user.email }}</p>
        </div>
    </div>
    <div>
        <p><strong>Tanggal Bergabung:</strong> {{ request.user.date_joined|date:"d F Y" }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
    </div>
    <div class="mt-6">
        <a href="{% url 'edit_profile' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
            Edit Profile
        </a>
    </div>
</div>
{% endblock %}
